$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;

.marginTop {
  //padding-top: 5em;
  margin-top: 2em;
  min-height: 100vh;
}
.card-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 2em;
  /*margin-bottom: 0;
  margin-top: 10em;*/
  color: #fff;
  height: 10vh;
  background-color: #212121;
}
.footer_book {
  position: fixed;
  bottom: 0;
  width: 100%;

  color: #fff;
  height: 10vh;
  background-color: #212121;
}

.img {
  width: 180px !important;
  height: 280px !important;
}
.img_book {
  width: 354px !important;
  height: 100% !important;
}

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
  .col-6 {
    display: flex !important;
    justify-content: center !important;
  }
  .card {
    width: 300px;
  }
  .img,
  .img_book {
    width: 100% !important;
    height: 280px !important;
  }
}
@media (max-width: $breakpoint-mobile) {
  /*#collpaseDescription {
    display: block;
  }*/
  .footer_book {
    position: static;
    margin-top: 10em;
  }
  .col-6 {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    .card {
      width: 300px;
    }
  }

  .img,
  .img_book {
    width: 100% !important;
    height: 280px !important;
  }
}

/*collapse*/
.m-d.expand-list {
  margin: 0;
  padding: 0;
  color: #fff !important;
}
.m-d.expand-list > li {
  list-style-type: none;
  padding: 15px 0;
  border-bottom: 1px solid #fff;
  position: relative;
  /*         max-width: 80%; */
}
.m-d label[class^="tab"]:hover {
  cursor: pointer;
}
.m-d input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.m-d input[class^="tab"] {
  width: 100%;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
}
.m-d input[class^="tab"]:hover {
  cursor: pointer;
}
.m-d label[class^="tab"] {
  color: #fff;
  font-weight: bold;
}
.m-d .content {
  height: auto;
  max-height: 0;
  max-width: 100%;
  color: #fff;
  /*        background: yellow;*/
  overflow: scroll;
  transform: translateY(20px);
  transition: all 180ms ease-in-out 0ms;
}
.content::-webkit-scrollbar {
  display: none;
}
.content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.m-d li[data-md-content="100"] input[class^="tab"]:checked ~ .content {
  max-height: 100px;
  transition: all 150ms ease-in-out 0ms;
}
.m-d li[data-md-content="200"] input[class^="tab"]:checked ~ .content {
  max-height: 200px;
  transition: all 200ms ease-in-out 0ms;
}
.m-d li[data-md-content="300"] input[class^="tab"]:checked ~ .content {
  max-height: 300px;
  transition: all 250ms ease-in-out 0ms;
}
.m-d li[data-md-content="400"] input[class^="tab"]:checked ~ .content {
  max-height: 400px;
  transition: all 250ms ease-in-out 0ms;
}
.m-d li[data-md-content="500"] input[class^="tab"]:checked ~ .content {
  max-height: 500px;
  transition: all 250ms ease-in-out 0ms;
}
.m-d li[data-md-content="600"] input[class^="tab"]:checked ~ .content {
  max-height: 600px;
  transition: all 250ms ease-in-out 0ms;
}
.m-d li[data-md-content="700"] input[class^="tab"]:checked ~ .content {
  max-height: 700px;
  transition: all 300ms ease-in-out 0ms;
}
.m-d li[data-md-content="800"] input[class^="tab"]:checked ~ .content {
  max-height: 800px;
  transition: all 300ms ease-in-out 0ms;
}
.m-d li[data-md-content="900"] input[class^="tab"]:checked ~ .content {
  max-height: 900px;
  transition: all 300ms ease-in-out 0ms;
}
.m-d li[data-md-content="1000"] input[class^="tab"]:checked ~ .content {
  max-height: 1000px;
  transition: all 350ms ease-in-out 0ms;
}
.m-d li[data-md-content=""] input[class^="tab"]:checked ~ .content {
  max-height: 1000px;
  transition: all 250ms ease-in-out 0ms;
}
.m-d input[class^="tab"]:checked ~ .content {
  margin-bottom: 20px;
}

.m-d .open-close-icon {
  display: inline-block;
  position: absolute;
  right: 20px;
  transform: translatey(2px);
}
.m-d .open-close-icon i {
  position: absolute;
  left: 0;
}
.m-d .open-close-icon .fa-minus {
  transform: rotate(-90deg);
  transition: transform 150ms ease-in-out 0ms;
}
.m-d input[class^="tab"]:checked ~ .open-close-icon .fa-minus {
  transform: rotate(0deg);
  transition: transform 150ms ease-in-out 0ms;
}
.m-d .open-close-icon .fa-plus {
  opacity: 1;
  transform: rotate(-90deg);
  transition: opacity 50ms linear 0ms, transform 150ms ease-in-out 0ms;
}
.m-d input[class^="tab"]:checked ~ .open-close-icon .fa-plus {
  opacity: 0;
  transform: rotate(0deg);
  transition: opacity 50ms linear 0ms, transform 150ms ease-in-out 0ms;
}
