$alert_color: #f44336;
$img_hero: url("../images/hero_book.jpeg");

.alert {
  display: none;
  width: 100%;
  position: fixed;
  padding: 20px;
  background-color: $alert_color;
  color: white;

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: white;
  }
}

section.hero {
  background-image: $img_hero;
  background-size: cover;
  height: 100vh;
  display: grid;
  place-items: center;

  .card {
    background: transparent !important;
    text-align: center;
    border: none !important;
  }
  .card-title {
    color: #fff;
    padding-bottom: 0.2em;
  }
  .card-subtitle {
    padding-bottom: 0.8em;
  }
}
