/*--------------------------------------------------------- BASICS -------------------------------------------------------------------*/

//$background_card: #212121;
$background_body: #292e32;
$background_card: rgba(73, 73, 73, 0.867);
$background_card: #131629;
$background_card: #212121;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $background_body;
}
a {
  text-decoration: none;
}
#nameCategory {
  color: #fff !important;
}
.card {
  background-color: $background_card;
  box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.6);
}
.card-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  color: #e8d639 !important;
}
.text-muted {
  color: #fff !important;
  font-size: 0.8em;
  font-style: italic;
}
.back-home {
  margin-bottom: 2em;
  background-color: $background_card;
  width: 100%;
  color: white !important;
  .btn {
    color: white !important;
  }
}
/*---------------------------------------------------------- GENERAL ICONS ---------------------------------------------------------------*/
.icon {
  cursor: pointer;
  transition: all 0.2s ease-in-out, all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff !important;
}

.icon-np {
  padding: 0 !important;
  width: auto !important;
  height: auto !important;
}

.icon-small {
  width: 25px;
  height: 25px;
}

.icon-medium {
  width: 35px;
  height: 35px;
}

.icon-large {
  width: 42px;
  height: 42px;
}

.icon-huge {
  width: 65px;
  height: 65px;
}

@media (min-width: 900px) {
  .icon-small {
    width: 35px;
    height: 35px;
  }

  .icon-medium {
    width: 45px;
    height: 45px;
  }

  .icon-large {
    width: 60px;
    height: 60px;
  }
}

.icon img {
  filter: invert(1);
  width: 100%;
  height: 100%;
  opacity: 1;
}

.icon-small img {
  width: 15px;
  height: 15px;
}

.icon-medium img {
  width: 20px;
  height: 20px;
}

.icon-large img {
  width: 20px !important;
  height: 20px !important;
}

@media (min-width: 900px) {
  .icon-small img {
    width: 18px;
    height: 18px;
  }

  .icon-medium img {
    width: 20px;
    height: 20px;
  }

  .icon-large img {
    width: 25px !important;
    height: 25px !important;
  }
}
